body {
    margin: 0
}

.main {
    background-image: url(open_new_background.jpg);
    height: 650px;
    font-family: arial;
    color: white;
    display: flex;
}

.text {
     font-size: 10px;
    text-align: left;
    padding-top: 30px;
    width: 400px;
    padding-left: 35px;
    box-sizing: border-box;
}

h2 {
    text-align: right;
    width: 300px;
    margin-left: 250px;
}

.main img {
    margin-left: auto;
    height: 400px;
    padding-top: 30px;
    padding-right: 35px;
    width: 300px;
}

.text img {
    width: 300px;
    height: 300px;
}

.flex {
   display: flex;
   width: 1000px
}

.coloumn {
    margin-left: 400px;
    text-align: right
}

.flex img {
    margin-right: 400px
}
